# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

# markdown pdfs
*.pdf

# tex intermediates
*.tex

# HTML presentations
*.html
